SPRING_DATA_MONGODB_URI=mongodb+srv://gajananmagar004_db_user:YOUR_PASSWORD@cluster0.eobdyd7.mongodb.net/dairy_db?retryWrites=true&w=majority&appName=Cluster0
PORT=8080
MONGO_CONNECT_TIMEOUT_MS=5000
MONGO_READ_TIMEOUT_MS=10000
MONGO_SERVER_SELECTION_TIMEOUT_MS=5000

# OTP provider
OTP_PROVIDER=twilio
OTP_EXPIRY_MINUTES=5

# Twilio credentials
TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=your_twilio_auth_token

# Twilio senders
TWILIO_SMS_FROM=+1234567890
TWILIO_WHATSAPP_FROM=whatsapp:+14155238886
